<?xml version="1.0" encoding="UTF-8"?>


<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
    http://www.springframework.org/schema/beans     
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/mvc 
    http://www.springframework.org/schema/mvc/spring-mvc.xsd
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context.xsd
     http://www.springframework.org/schema/tx
      http://www.springframework.org/schema/tx/spring-tx.xsd">


<tx:annotation-driven/>

	<context:property-placeholder
		location="classpath:datasource.properties" />

	<bean
		class="org.springframework.jdbc.datasource.DriverManagerDataSource"
		id="ds">
		<property name="driverClassName"
			value="com.mysql.cj.jdbc.Driver"></property>
		<property name="url"
			value="jdbc:mysql://localhost:3306/Jan06"></property>
		<property name="username" value="root"></property>
		<property name="password" value="root" />

	</bean>


	<bean
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean"
		id="factory">


		<!-- DataSource -->
		<property name="dataSource" ref="ds"></property>

		<!-- Hibernate Properties -->

		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect
				</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<!-- <prop key="org.hibernate.flushMode" >auto</prop> -->
			</props>
		</property>


		<!-- Annotated Classes -->
		<property name="annotatedClasses">
			<list>
				<value>
					com.xworkz.ormIntegration.Entity.StartupsEntity
				</value>
			</list>
		</property>
	</bean>

	<bean class="org.springframework.orm.hibernate5.HibernateTemplate"
		id="hibernateTemplate">
		<property name="sessionFactory" ref="factory"></property>

	</bean>

	<bean
		class="com.xworkz.ormIntegration.DAO.StartupsDAO"
		id="StartupsDAO">
		<property name="hibernateTemplate" ref="hibernateTemplate"></property>
	</bean>

	<bean
		class="org.springframework.orm.hibernate5.HibernateTransactionManager"
		id="transactionManager">
		<property name="sessionFactory" ref="factory"></property>
	</bean>

</beans>
